/* Aileron Thin */
@font-face {
  font-family: 'Aileron';
  font-style: normal;
  font-weight: 350;
  src: url(../fonts/Aileron-Thin.woff2) format('woff2');
}
/* Aileron Regular */
@font-face {
  font-family: 'Aileron';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Aileron-Regular.woff2) format('woff2');
}
/* Aileron SemiBold */
@font-face {
  font-family: 'Aileron';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Aileron-SemiBold.woff2) format('woff2');
}
/* Suisse Int'l Book */
@font-face {
  font-family: 'Suisse Intl';
  font-style: normal;
  font-weight: 450;
  src: url(../fonts/SuisseIntl-Book-WebXL.woff) format('woff'),
    url(../fonts/SuisseIntl-Book-WebXL.woff2) format('woff2');
}
