// Breakpoints
$extra-extra-large: 1400px;
$extra-large: 1024px;
$large: 992px;
$medium: 768px;
$small: 576px;
$x-small: 420px;

@media screen and (max-width: $extra-extra-large) {
  .container {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .title-h1 {
    font-size: 58px;
  }
}

@media screen and (max-width: $extra-large) {
  .site-container {
    overflow-x: hidden;
  }
  .header {
    &__nav {
      display: none;
    }
    &__button {
      display: none;
    }
    &__burger {
      display: flex;
    }
  }
  .menu {
    display: flex;
  }
  .hero {
    &__information {
      max-width: 75%;
    }
    &__bottom {
      flex-direction: column-reverse;
      gap: 30px;
    }
  }
}

@media screen and (max-width: $medium) {
  .header {
    &__container {
      padding: 10px 0;
    }
  }
  .hero {
    padding-top: calc(45px + 50px);
    &__information {
      max-width: 100%;
      margin-bottom: 50%;
    }
    &__descr {
      max-width: 100%;
    }
    &__links {
      flex-direction: column;
    }
    &__intro {
      max-width: unset;
      width: 200%;
      top: 80px;
      right: unset;
      left: -65%;
    }
  }
  .slogan {
    padding: 0;
    &__container {
      padding: 0 16px;
    }
    &__title {
      display: flex;
      font-size: 75px;
      flex-direction: column;
      letter-spacing: -2.4px;
    }
    &__biology {
      $border: 3px;
      border: $border solid transparent;
      line-height: 100%;
      padding: 0 16px;
      &::before {
        margin: -$border;
      }
    }
    &__item {
      &--left {
        text-align: left;
      }
      &--right {
        text-align: right;
      }
    }
  }
  .cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__image {
      position: static;
      max-width: 100%;
      width: 100%;
    }
    &__wrapper {
      &-counter {
        display: inline-block;
      }
    }
    &__content {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: $small) {
  .title-h1 {
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 95%; /* 43.7px */
    letter-spacing: -1.84px;
    text-transform: capitalize;
  }
  .title-h2 {
  }
  .title-h3 {
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 29.9px */
    letter-spacing: -0.78px;
  }
  .descr {
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 130%; /* 20.8px */
    letter-spacing: -0.16px;
  }
  .hero {
    &__links {
      align-items: stretch;
      max-width: 100%;
      width: 100%;
      &-item {
        justify-content: space-between;
      }
    }
    &__scroll {
      display: none;
    }
  }
  .slogan {
    &__title {
      font-size: 46px;
      font-style: normal;
      font-weight: 300;
      line-height: 100%; /* 46px */
      letter-spacing: -1.84px;
    }
    &__biology {
      $border: 2px;
      border: $border solid transparent;
      line-height: 90%;
      padding: 0 16px;
      &::before {
        margin: -$border;
      }
    }
  }
  .cell {
    padding-top: unset;
    padding-bottom: 90px;
    &__wrapper {
      margin-bottom: 16px;
    }
    &__slides {
      &-item {
        gap: 16px;
      }
    }
  }
}

@media screen and (max-width: $x-small) {
  .hero {
    &__information {
      margin-bottom: 32px;
      gap: 250px;
    }
    &__links {
      &-item {
        padding: 10px;
      }
      &-title {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%; /* 19.8px */
        letter-spacing: -0.54px;
      }
      &-subtitle {
        font-size: 14px;
        font-style: normal;
        font-weight: 450;
        line-height: 120%;
        letter-spacing: -0.14px;
      }
    }
    &__intro {
      top: 15%;
    }
  }
}
