// Breakpoints
$extra-extra-large: 1400px;
$medium-large: 1300px;
$extra-large: 1024px;
$large: 992px;
$medium: 768px;
$small: 576px;
$x-small: 420px;

@media screen and (max-width: $extra-extra-large) {
  .container {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .title-h1,
  .title-h2 {
    font-size: 58px;
  }
  .descr {
    &--large {
      font-size: 25px;
    }
  }
  .text {
    font-size: 16px;
  }
  .system {
    &__title {
      max-width: 100%;
    }
    &__container {
      justify-content: space-between;
    }
    &__text {
      &--left {
        max-width: 40%;
      }
      &--right {
        max-width: 55%;
      }
    }
    &__row {
      &--text {
        gap: unset;
        justify-content: space-between;
      }
    }
    &__column {
      &--left {
        max-width: 25%;
      }
      &--right {
        max-width: 70%;
      }
    }
  }
  .discovery {
    &__title {
      font-size: 120px;
      align-items: baseline;
      justify-content: unset;
      gap: 90px;
    }
  }
}

@media screen and (max-width: $medium-large) {
  .system {
    $self: &;
    &__image {
      position: static;
      max-width: 100%;
    }
    &__row {
      &--information {
        flex-direction: column;
        gap: 30px;
      }
    }
    &__information {
      &--right {
        max-width: unset;
      }
      &-list {
        &:not(:last-child) {
          margin-bottom: 35px;
        }
      }
      &-card {
        max-width: 100%;
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
        padding: 16px;
      }
    }
    &__container {
      &:nth-child(2) {
        #{$self}__column {
          &--left {
            justify-content: center;
          }
        }
      }
    }
  }
  .discovery {
    &__title {
      font-size: 90px;
      &--strong {
        line-height: 75px;
        padding: 7px 30px 15px 30px;
      }
    }
    &__information {
      margin-top: 75px;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;
    }
    &__text {
      max-width: 45%;
    }
    &__descr {
      max-width: 55%;
    }
  }
}

@media screen and (max-width: $extra-large) {
  :root {
    --section-offset: 90px;
  }
  .modal {
    &__body {
      max-width: 80%;
    }
  }
  .site-container {
    overflow: hidden;
  }
  .header {
    &__nav {
      display: none;
    }
    &__button {
      display: none;
    }
    &__burger {
      display: flex;
    }
  }
  .menu {
    display: flex;
  }
  .hero {
    &__information {
      max-width: 75%;
    }
    &__bottom {
      flex-direction: column-reverse;
      gap: 30px;
    }
  }
  .cell {
    &__slides {
      position: relative !important;
      z-index: 1;
      transition: height 0.3s ease-in-out;
      &-item {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        opacity: 0;
        z-index: -1;
        transition: unset;
        &.active {
          // opacity: 1;
          z-index: 10;
        }
      }
      &-controls {
        display: none;
      }
    }
    &__descr {
      &:last-child {
        padding-bottom: unset;
      }
    }
    &__button {
      align-self: flex-start;
    }
  }
  .system {
    $self: &;
    min-height: unset;
    gap: 50px;
    &__container {
      &:nth-child(1) {
        flex-direction: column;
        gap: 32px;
        #{$self}__column {
          &--left {
            flex-direction: column-reverse;
            gap: 32px;
            max-width: 100%;
          }
          &--right {
            max-width: 100%;
            #{$self}__row {
              &--text {
                flex-direction: column;
                gap: 16px;
              }
            }
          }
        }
      }
    }
    &__text {
      &--left,
      &--right {
        max-width: 100%;
      }
    }
  }
  .advantages {
    $self: &;
    &__title {
      font-size: 100px;
    }
    &__link {
      display: none;
    }
    &__slider {
      margin-bottom: unset;
    }
    &__button {
      display: inline-block;
    }
    &__slider {
      &-controls {
        &--mobile {
          display: flex;
        }
        &--desktop {
          display: none;
        }
      }
    }
  }
  .discovery {
    &__title {
      font-size: 64px;
      letter-spacing: -1.8px;
      gap: 50px;
      &--strong {
        line-height: 65px;
        padding: 0px 30px 5px 30px;
      }
    }
  }
  .applications {
    &__title {
      font-size: 38px !important;
      font-style: normal;
      font-weight: 400;
      line-height: 100% !important; /* 38px */
      letter-spacing: -1.52px !important;
    }
    &__controls {
      gap: 6px;
      &-button {
        width: 38px;
        height: 38px;
        svg {
          min-width: 14px;
          max-width: 14px;
        }
      }
    }
  }
  .footer {
    &__partners {
      &--desktop {
        padding: 18px 34px;
        justify-content: space-between;
        gap: unset;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .footer {
    &__partners {
      &--desktop {
        display: none;
      }
      &--mobile {
        position: relative;
        display: flex;
      }
    }
    &__logo {
      margin-bottom: unset;
    }
    &__link {
      &:last-child {
        margin-top: unset;
      }
    }
    &__outer {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    &__inner {
      $self: &;
      &--desktop {
        display: none;
      }
      &--mobile {
        padding: 30px 0;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        display: flex;
        #{$self}-column {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          &:first-child {
            margin-bottom: 100px;
          }
          &:nth-child(2) {
            margin-bottom: 50px;
          }
        }
      }
    }
    &__address {
      max-width: 36%;
      text-align: right;
      color: var(--gray);
    }
    &__mark {
      left: 15px;
      top: -28px;
      padding: 6px 30px;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 16.8px */
      letter-spacing: -0.14px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
    &__link {
      &-contact {
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 56px */
        letter-spacing: -2.24px;
      }
    }
  }
}

@media screen and (max-width: $medium) {
  .preloader {
    &__loading {
      &-outer {
        width: calc(645px / 2);
        height: calc(665px / 2);
      }
      &-inner {
        width: calc(322px / 2);
        height: calc(322px / 2);
      }
      &-logo {
        width: calc(352px / 2);
        height: calc(80px / 2);
      }
      &-icon {
        width: calc(85px / 2);
        height: calc(80px / 2);
      }
      &-text {
        width: calc(241px / 2);
        height: calc(34px / 2);
      }
    }
  }
  .modal {
    $self: &;
    &__body {
      padding: 24px;
    }
    &__form {
      align-items: unset;
      &-button {
        .button__content {
          width: 100%;
          gap: unset;
          justify-content: space-between;
        }
      }
    }
    &__content {
      &-row {
        &:first-child {
          flex-direction: column;
          gap: 32px;
          #{$self}__input {
            width: 100%;
            max-width: unset;
            &:last-child {
              margin-top: unset;
            }
          }
        }
      }
    }
    &__close {
      width: 20px;
      height: 20px;
      padding: 30px;
    }
  }
  .descr {
    &-small {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 110%; /* 19.8px */
      letter-spacing: -0.54px;
    }
  }
  .link {
    font-size: 12px;
    padding: 8px 11px;
  }
  .header {
    &__container {
      padding: 10px 0;
    }
  }
  .hero {
    padding-top: calc(45px + 50px);
    &__scroll {
      display: none;
    }
    &__information {
      max-width: 100%;
      margin-bottom: 50%;
    }
    &__descr {
      max-width: 100%;
    }
    &__links {
      flex-direction: column;
    }
    &__intro {
      max-width: unset;
      width: 200%;
      top: 80px;
      right: unset;
      left: -65%;
    }
  }
  .slogan {
    padding: 0;
    &__container {
      padding: 0 16px;
    }
    &__title {
      display: flex;
      font-size: 75px;
      flex-direction: column;
      letter-spacing: -2.4px;
    }
    &__biology {
      $border: 3px;
      border: $border solid transparent;
      line-height: 100%;
      padding: 0 16px;
      &::before {
        margin: -$border;
      }
    }
    &__item {
      &--left {
        text-align: left;
      }
      &--right {
        text-align: right;
      }
    }
  }
  .cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: unset;
    &__image {
      position: static;
      max-width: 100%;
      width: 100%;
      height: 100vw;
    }
    &__wrapper {
      &-counter {
        display: inline-block;
      }
    }
    &__content {
      max-width: 100%;
    }
  }
  .system {
    $self: &;
    gap: 32px;
    &__image {
      max-width: 50%;
    }
    &__container {
      &:nth-child(2) {
        flex-direction: column;
        gap: 32px;
        #{$self}__column {
          &--left,
          &--right {
            max-width: 100%;
          }
        }
      }
    }
  }
  .advantages {
    &__header {
      align-items: center;
      margin-bottom: 32px;
    }
    &__title {
      font-size: 38px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 38px */
      letter-spacing: -1.52px;
    }
    &__slider {
      &-item {
        padding: 16px;
        min-width: unset;
        width: 260px;
        height: 280px;
        // box-shadow: unset;
      }
    }
  }
  .discovery {
    &__slogan {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px;
    }
    &__title {
      font-size: 45px;
      font-style: normal;
      font-weight: 300;
      line-height: 90%;
      letter-spacing: -1.8px;
      &--strong {
        line-height: 45px;
        padding: 0px 10px 4px 10px;
        $border: 1px;
        border: solid $border transparent;
        &::before {
          margin: -$border;
        }
      }
      &--desktop {
        display: none;
      }
      &--mobile {
        display: flex;
      }
      &:nth-child(3) {
        position: relative;
        display: inline-block;
        &::before {
          content: '';
          display: inline-block;
          flex-shrink: 0;
          width: 132px;
          height: 32px;
          background-image: url('../images/discovery-map--mobile.svg');
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          margin-right: 10px;
        }
      }
      &:last-child {
        margin-bottom: unset;
      }
    }
    &__information {
      margin-top: 32px;
    }
    &__wrapper {
      flex-direction: column;
      gap: 32px;
    }
    &__year {
      display: none;
    }
    &__text {
      max-width: 100%;
    }
    &__descr {
      max-width: 100%;
    }
  }
  .applications {
    &__slider {
      &-item {
        width: 260px;
        min-height: 275px;
        padding: 16px;
      }
    }
  }
  .testimonials {
    &__title {
      font-size: 38px !important;
      font-style: normal;
      font-weight: 400;
      line-height: 100% !important; /* 38px */
      letter-spacing: -1.52px !important;
    }
    &__header {
      justify-content: space-between;
      margin-bottom: 32px;
    }
    &__wrapper {
      padding: 0 16px;
    }
    &__controls {
      &--mobile {
        display: flex;
      }
      &--desktop {
        display: none;
      }
    }
    &__logo {
      padding: 11px 17px;
      &-image {
        max-width: 90px;
      }
    }
    &__slider {
      &-item {
        padding: 16px;
        max-width: 260px;
        gap: 32px;
        // transition-delay: 0s;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        &:not(:last-child) {
          margin-right: 10px;
        }
        &.slick-current {
          transform: scale(1);
          opacity: 1;
        }
        // &.slick-current[data-slick-index='0'] {     // for infinite animation
        //   transition-delay: 1s;
        // }
      }
    }
  }
}

@media screen and (max-width: $small), screen and (max-height: 600px) {
  .modal {
    &__body {
      max-height: 80%;
    }
  }
}

@media screen and (max-width: $small) {
  .modal {
    $self: &;
    &[id='thank-you-modal'] {
      #{$self}__title {
        font-size: 34px;
      }
    }
    &__body {
      max-width: calc(100% - 32px);
      overflow: auto;
    }
  }
  .title-h1 {
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 95%; /* 43.7px */
    letter-spacing: -1.84px;
    text-transform: capitalize;
  }
  .title-h2 {
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 38px */
    letter-spacing: -1.52px;
  }
  .title-h3 {
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 29.9px */
    letter-spacing: -0.78px;
  }
  .title-h4 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
    letter-spacing: 1.44px;
  }
  .text {
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 130%; /* 20.8px */
    letter-spacing: -0.16px;
  }
  .descr {
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 130%; /* 20.8px */
    letter-spacing: -0.16px;
    &-large {
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 115%; /* 29.9px */
      letter-spacing: -0.78px;
    }
  }
  .hero {
    &__links {
      align-items: stretch;
      max-width: 100%;
      width: 100%;
      &-item {
        justify-content: space-between;
      }
    }
  }
  .slogan {
    &__title {
      font-size: 46px;
      font-style: normal;
      font-weight: 300;
      line-height: 100%; /* 46px */
      letter-spacing: -1.84px;
    }
    &__biology {
      $border: 2px;
      border: $border solid transparent;
      line-height: 90%;
      padding: 0 16px;
      &::before {
        margin: -$border;
      }
    }
  }
  .cell {
    &__wrapper {
      margin-bottom: 16px;
    }
    &__slides {
      &-item {
        gap: 16px;
      }
    }
  }
  .system {
    &__title {
      font-size: 46px;
      font-style: normal;
      font-weight: 400;
      line-height: 95%; /* 43.7px */
      letter-spacing: -1.84px;
      text-transform: capitalize;
    }
    &__image {
      max-width: 100%;
    }
    &__row {
      &--information {
        gap: 32px;
      }
    }
    &__information {
      &-title {
        margin-bottom: 32px;
      }
      &-list {
        $self: &;
        &--required {
          #{$self}-item {
            align-items: flex-start;
            &::before {
              margin-top: 2.5px;
            }
          }
        }
        &--optional {
          gap: 10px;
          #{$self}-item {
            &::before {
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }
  .advantages {
    &__button {
      width: 100%;
      .button__content {
        width: 100%;
        justify-content: space-between;
      }
    }
  }
  .testimonials {
    padding: 70px 0;
  }
  .footer {
    &__outer {
      border-top-right-radius: unset;
      border-top-left-radius: unset;
    }
    &__partners {
      &--mobile {
        padding: 30px 0;
      }
    }
    &__mark {
      padding: 10px 15px;
      top: -30px;
      left: 0;
    }
    &__address {
      font-size: 14px;
      line-height: 120%; /* 16.8px */
      letter-spacing: -0.14px;
    }
  }
}

// fix of first screen media query

@media screen and (max-width: 485px) {
  .hero {
    &__information {
      margin-bottom: 32px;
      gap: 350px;
    }
  }
}

@media screen and (max-width: $x-small) {
  .hero {
    &__information {
      gap: 250px;
    }
    &__links {
      &-item {
        padding: 10px;
      }
      &-title {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%; /* 19.8px */
        letter-spacing: -0.54px;
      }
      &-subtitle {
        font-size: 14px;
        font-style: normal;
        font-weight: 450;
        line-height: 120%;
        letter-spacing: -0.14px;
      }
    }
    &__intro {
      top: 15%;
    }
  }
}
