.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  &--dnone {
    display: none;
  }
  &--hidden {
    opacity: 0;
    visibility: hidden;
  }
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(#6a6667, 85%);
  }
  &__body {
    position: relative;
    border-radius: 20px;
    padding: 40px;
    color: var(--white);
    background-color: var(--black);
    max-width: 60%;
    width: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    &[data-modal-stage='1'] {
      display: none;
    }
    &-row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__input {
    max-width: calc(50% - 16px);
    width: 100%;
    color: var(--gray);
    border-bottom: 1px solid #46454b;
    padding-bottom: 10px;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    &:focus {
      color: var(--white);
      border-color: var(--orange);
    }
    &.error {
      color: #ff0033;
      border-color: #ff0033;
    }
    &:last-child {
      margin-top: 32px;
    }
    &--wide {
      max-width: 100%;
    }
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    padding: 25px;
    background-image: url('../images/close-icon.svg');
    opacity: 0.3;
    background-position: center center;
    background-size: 16px;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    &-button {
      cursor: pointer;
      .button__content {
        gap: 100px;
      }
    }
  }
  &__checkbox {
    &-label {
      display: flex;
      align-items: center;
      color: var(--gray);
    }
    &-custom {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid #909090;
      margin-right: 10px;
      &.checked {
        background-image: url('../images/checked.svg');
        background-size: 14px 10px;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
  &__link {
    display: inline-block;
    color: var(--white);
    position: relative;
    &::after {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--white);
      content: '';
    }
  }
}
