.applications {
  padding: 85px 0 150px 0;
  overflow: hidden;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__controls {
    display: flex;
    gap: 15px;
    &-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      background-color: var(--orange);
      border-radius: 50%;
      transition: background-color 0.3s ease-in-out;
      &.slick-disabled {
        background-color: var(--light-gray);
        cursor: not-allowed;
      }
      &--prev,
      &--next {
        svg {
          min-width: 20px;
          max-width: 20px;
          stroke: var(--white);
        }
      }
      &--prev {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
  &__slider {
    $self: &;
    .slick-list {
      overflow: unset !important;
    }
    &-image {
      max-height: 56px;
    }
    &-item {
      background-color: var(--white);
      border-radius: 15px;
      padding: 30px;
      height: 0;
      min-height: 330px;
      width: 337px;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
      }
      &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
      &-more {
        display: flex;
        align-items: flex-end;
        gap: 30px;
        font-family: 'Suisse Intl';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 115%; /* 16.1px */
        letter-spacing: -0.14px;
        color: var(--gray);
        &:hover {
          #{$self}-open {
            background-color: var(--orange);
            svg {
              stroke: var(--white);
            }
          }
        }
      }
      &-inner {
        opacity: 0;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        &-content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
        }
        &-block {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          &:not(:last-child) {
            padding-bottom: 20px;
            border-bottom: 1px solid var(--light-gray);
          }
          &:not(:first-child) {
            padding-top: 20px;
          }
        }
      }
    }
    &-open {
      display: none; // убрать когда текста завезут
      width: 34px;
      height: 34px;
      background-color: var(--light-gray);
      // display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: background-color 0.3s ease-in-out;
      svg {
        transition: stroke 0.3s ease-in-out;
        stroke: var(--gray);
      }
    }
    &-back {
      display: flex;
      align-items: center;
      gap: 5px;
      background: linear-gradient(271deg, var(--light-gray), var(--light-gray)),
        var(--warm-gradient-4);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 100% 100%, 0 100%;
      background-position: 100% 100%, 0 100%;
      background-repeat: no-repeat;
      transition: background-size 0.3s ease-in-out;
      &:hover {
        background-size: 0 100%, 100% 100%;
        svg {
          stroke: var(--orange);
        }
      }
      svg {
        transition: stroke 0.3s ease-in-out;
        min-width: 16px;
        max-width: 16px;
        stroke: var(--light-gray);
        transform: rotate(180deg);
      }
    }
  }
  &__link {
    padding: 10px 14px;
  }
}
