.slogan {
  width: 100%;
  overflow: hidden;
  padding: 60px 0 86px 0;
  &__title {
    color: #d2d2d2;
    font-family: "Aileron", sans-serif;
    white-space: nowrap;
    font-size: 135px;
    font-style: normal;
    font-weight: 350;
    line-height: 100%; /* 135px */
    letter-spacing: -5.4px;
  }
  &__biology {
    position: relative;
    display: inline-block;
    color: var(--black);
    padding: 5px 20px 15px 20px;
    line-height: 110px;
    $border: 5px;
    background: #f2f2f2;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 1000px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: var(--warm-gradient-4);
    }
  }
  &__world {
    color: var(--orange);
  }
}
