.slogan {
  width: 100%;
  overflow: hidden;
  padding: 60px 0 0 0;
  &__title {
    color: #d2d2d2;
    font-family: 'Aileron', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 110px;
    font-style: normal;
    font-weight: 300;
    line-height: 90%; /* 99px */
    letter-spacing: -5.4px;
  }
  &__biology {
    position: relative;
    display: inline-block;
    color: var(--black);
    text-transform: capitalize;
    padding: 0px 30px 2px 30px;
    line-height: 110px;
    $border: 5px;
    background: #f2f2f2;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 1000px;
    &-text {
      padding: 0 7px;
      background: var(--warm-gradient-4);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-repeat: no-repeat;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: var(--warm-gradient-4);
    }
  }
  &__world {
    text-transform: capitalize;
    color: var(--gray);
  }
  &__block {
    &--right {
      text-align: right;
    }
    &--left {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
    }
  }
  &__item {
    &--right {
      text-align: right;
    }
  }
}
