.testimonials {
  $self: &;
  padding: 95px 0;
  background-color: var(--white);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
  &.non-slick {
    #{$self}__controls {
      &--desktop {
        display: none;
      }
    }
    #{$self}__slider {
      display: flex;
      align-items: center;
      justify-content: center;
      &-item {
        scale: 1;
        opacity: 1;
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  &__container {
    &:nth-child(2) {
      position: relative;
      max-width: 1300px;
      overflow: hidden;
    }
  }
  &__controls {
    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--orange);
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      &.slick-disabled {
        background-color: var(--light-gray);
        cursor: not-allowed;
      }
      svg {
        stroke: var(--white);
      }
    }
    &--mobile {
      display: none;
      gap: 6px;
      #{$self}__controls {
        &-button {
          width: 38px;
          height: 38px;
          svg {
            min-width: 14px;
            max-width: 14px;
          }
          &--prev {
            svg {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
    &--desktop {
      width: 100%;
      max-width: 453px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      #{$self}__controls {
        &-left {
          position: absolute;
          top: 0;
          left: -50px;
          width: calc(50% + 50px);
          height: 100%;
          z-index: 10;
          &:hover {
            #{$self}__controls {
              &-button {
                &--prev {
                  opacity: 1;
                }
              }
            }
          }
        }
        &-right {
          position: absolute;
          top: 0;
          right: -50px;
          width: calc(50% + 50px);
          height: 100%;
          z-index: 10;
          &:hover {
            #{$self}__controls {
              &-button {
                &--next {
                  opacity: 1;
                }
              }
            }
          }
        }
        &-button {
          position: absolute;
          top: 38px;
          width: 100px;
          height: 100px;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;

          svg {
            max-width: 36.67px;
            min-width: 36.67px;
          }
          &--next {
            right: 0;
          }
          &--prev {
            left: 0;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  &__slider {
    .slick-list {
      overflow: unset !important;
    }
    &-item {
      cursor: pointer;
      position: relative;
      color: var(--black);
      padding: 40px;
      display: flex !important;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;
      border-radius: 20px;
      max-width: 453px;
      background: radial-gradient(60.31% 88.28% at 96.63% 20.86%, rgba(100, 172, 237, 0.2) 0%, rgba(241, 233, 223, 0.2) 100%), #f6f7f8;
      // transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
      opacity: 0.2;
      transform: scale(0.785);
      &.slick-center {
        transform: scale(1);
        opacity: 1;
        z-index: 20;
      }
    }
  }
  &__logo {
    padding: 17px 26px;
    background-color: var(--white);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-image {
      max-width: 180px;
    }
  }
  &__comment {
    color: #9ca7b0;
  }
}
